<head>
    <meta charset="utf-8">
    <title>VoteFast | ${title}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <!-- Place favicon.ico in the root directory -->
</head>
<section class="hero">
    <div class="hero-body"> 
        <div class="container">   
        ${!!is_logged_in ? `
            <h1 class="title">Hello ${userName}</h1>

        `:`
            <p>sign in to create a survey</p>
        `}
        </div>
    </div>
</section>