<head>
    <meta charset="utf-8">
    <title>VoteFast | ${title}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <!-- Place favicon.ico in the root directory -->
</head>    
<body>
<form action="/users/signup" method="POST">
    <label>
        First Name
        <input type="text" name="first_name" placeholder="Bob"/>
    </label>
    <label>
        Last Name
        <input type="text" name="last_name" placeholder="Marley"/>
    </label>
    <label>
        Email Address
        <input type="text" name="email" placeholder="you@email.com" />
    </label>
    <label>
        Password
        <input type="password" name="password" placeholder="Your Password"/>
    </label>
    <a href="/"> <button type="submit" class="button is-primary">Sign Up</button></a>
</form>
</body>

