<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VoteFast | ${title}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <!-- Place favicon.ico in the root directory -->
</head>
    
<h2>survey made by ${userName}</h2>

<html>
<body>
    <div>You have <span id="time">00:10</span> seconds to vote as many times as you can!</div>
</body>
<script>
    setTimeout(function() {
        location.href='/result'
    }, 10000);
</script>
<table class="table-fill">
${surveyDetails.map(survey => 
    `<tr>
        <td>${survey.question}</td>
        <td>
            <button onclick="firstVote()">${survey.first_answer}</button>
            <input type="text" id="first_button" value="0"></input>
        </td>
        <td>
            <button onclick="secondVote()">${survey.second_answer}</button>
            <input type="text" id="second_button" value="0"></input>
        </td>
        <td>
            <button onclick="thirdVote()">${survey.third_answer}</button>
            <input type="text" id="third_button" value="0"></input>
        </td>
        <td>
            <button onclick="fourthVote()">${survey.fourth_answer}</button>
            <input type="text" id="fourth_button" value="0"></input>
        </td>
    </tr>`
    ).join('')}
</table>
<script>
function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

window.onload = function () {
    var fiveMinutes = 2 * 5,
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);
};</script>
<script>
    var i = 0;
    var h = 0;
    var j = 0;
    var k = 0;
    
    function firstVote() {
        i++;
        document.getElementById('first_button').value = i;
        return i
    }
    function secondVote() {
        h++;
        document.getElementById('second_button').value = h;
        return h
    }
    function thirdVote() {
        j++;
        document.getElementById('third_button').value = j;
        return j
    }
    function fourthVote() {
        k++;
        document.getElementById('fourth_button').value = k;
        return k
    }
</script>

</html>





