<form action="/users/signup" method="POST">
    <label>
        First Name
        <input type="text" name="first_name" placeholder="Bob"/>
    </label>
    <label>
        Last Name
        <input type="text" name="last_name" placeholder="Marley"/>
    </label>
    <label>
        Email Address
        <input type="text" name="email" placeholder="you@email.com" />
    </label>
    <label>
        Password
        <input type="password" name="password" placeholder="Your Password"/>
    </label>
    <a href="/"> <button type="submit" class="button is-primary">Sign Up</button></a>
</form>

