<head>
    <meta charset="utf-8">
    <title>VoteFast | ${title}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <!-- Place favicon.ico in the root directory -->
</head>
    
${!!is_logged_in ? `
    <h1>Hello ${userName}</h1>
    <p>Type your survey question and answers here</p>
    <form action="/survey" method="POST">
        <label>
            Question:
            <input type="text" name="question" placeholder="How much wood could a woodchuck chuck?"/>
        </label>
        <label>
            Answer 1
            <input type="text" name="first_answer" placeholder="1 pound"/>
        </label>
        <label>
            Answer 2
            <input type="text" name="second_answer" placeholder="5 pounds" />
        </label>
        <label>
            Answer 3
            <input type="text" name="third_answer" placeholder="Lots!"/>
        </label>
        <label>
            Answer 4
            <input type="text" name="fourth_answer" placeholder="Lots! +1"/>
        </label>
        <button type="submit" class="create-survey-button">Create Survey!</button>
    </form>

`:`
    <p>Sign in to create a survey</p>
`}


