<head>
    <meta charset="utf-8">
    <title>VoteFast | ${title}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <!-- Place favicon.ico in the root directory -->
</head>    

<form action="/users/login" method="POST" class="form">
    <div class="field">
        <label class="label">
            Email Address
            <input type="text" name="email" placeholder="you@email.com" />
        </label>
    </div>
    <div class="field">
    <label class="label">
        Password
        <input type="password" name="password" placeholder="Your Password"/>
    </label>
    </div>
    <button type="submit" class="button is-primary">LOGIN</button>
</form>
