<!DOCTYPE html>

<h2>survey made by ${userName}</h2>

<html>
<body>
    <p>You have 10 seconds to vote as many times as you can!</p>
    <script>
        var timer = setTimeout(function() {
            window.location='http://example.com'
        }, 1000000);
    </script>
</body>
<table class="table-fill">
${surveyDetails.map(survey => 
    `<tr>
        <td>${survey.question}</td>
        <td>
            <button onclick="firstVote()">${survey.first_answer}</button>
            <input type="text" id="first_button" value="0"></input>
        </td>
        <td>
            <button onclick="secondVote()">${survey.second_answer}</button>
            <input type="text" id="second_button" value="0"></input>
        </td>
        <td>
            <button onclick="thirdVote()">${survey.third_answer}</button>
            <input type="text" id="third_button" value="0"></input>
        </td>
        <td>
            <button onclick="fourthVote()">${survey.fourth_answer}</button>
            <input type="text" id="fourth_button" value="0"></input>
        </td>
    </tr>`
    ).join('')}
</table>

<script>
var i = 0;
var h = 0;
var j = 0;
var k = 0;

function firstVote() {
    i++;
    document.getElementById('first_button').value = i;
}
function secondVote() {
    h++;
    document.getElementById('second_button').value = h;
}
function thirdVote() {
    j++;
    document.getElementById('third_button').value = j;
}
function fourthVote() {
    k++;
    document.getElementById('fourth_button').value = k;
}
</script>

</html>








